@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --font: "Montserrat", sans-serif;
  font-family: var(--font);
}

body {
  background-color: #abf0e9;
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main > h1 {
  color: #00a8cc;
  padding: 1rem;
  font-weight: 600;
}

body main > form textarea {
  width: 200px;
  height: 50px;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

div {
  font-weight: 300;
  max-width: 300px;
  margin: 1rem;
  border-bottom: 3px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

div p:first-child {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 1rem;
}

div p:nth-child(2) {
  font-size: 0.75rem;
  font-weight: bold;
}

button {
  font-weight: 600;
  background-color: #00a8cc;
  border-radius: 2rem;
  padding: 0.25rem;
  color: white;
  border: 3px solid white;
  display: inline;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 700px) {
  html {
    font-size: 20px;
    background-color: #00a8cc;
  }
  body {
    max-width: 700px;
    margin: 2rem auto;
    border: 5px solid white;
    border-radius: 1rem;
    padding-bottom: 1rem;
  }
  div {
    padding: 1rem;
    min-width: 700px;
    max-width: 700px;
  }
  body main > form textarea {
    width: 350px;
    max-width: 400px;
    height: 100px;
  }
}
